.blob {
    /* Rectangle 32 */

    position: absolute;
    width: 628px;
    height: 641px;
    left: 1026px;
    top: -100px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 1, 162, 0.14) 0%, rgba(217, 1, 162, 0) 100%);
    filter: blur(50px);
}

.blob2 {
    /* Rectangle 33 */

    position: absolute;
    width: 628px;
    height: 641px;
    left: -277px;
    top: 200px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(210, 1, 217, 0.135) 0%, rgba(210, 1, 217, 0) 100%);
    filter: blur(50px);
}